@charset "UTF-8";
:root {
  --main-bg-color: #F6F6F6;
  --primary-color: #9356DC;
  --bg-color-green: #99e2d0;
  --bg-color-blue: #89c8fa;
  /*couleur du projet*/
  --bg-color-dark-grey: #353535;
  --bg-color-grey-2: #Eaeaea;
  --bg-color--dark-blue: #003a68;
  --green-font: #008766; }

/*corps de la page*/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none;
  color: black; }

ul {
  padding-inline-start: 0em;
  margin-block-start: 0; }

li {
  list-style: none; }

body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 100%; }

.max {
  max-width: 1920px;
  /*ecran max 1920px*/ }

.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /*colonne =recherche en dessous logo*/ }

.logo {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  /*logo center,ombre*/
  width: 100%;
  margin: 0;
  padding: 14px 89px 13px 89px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15); }

.logo-img {
  display: flex;
  padding: 0 19px 0 16px;
  /*taille image*/
  width: 162px; }

.location {
  display: flex;
  flex-direction: row;
  /*sens direction ligne pour icon et ville*/
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-grey-2);
  /*fond gris*/
  height: 50px;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  gap: 17px;
  /*espace entre icon et ville*/ }

.location-logo {
  font-size: 16px;
  /*taille icon*/ }

.location-ville {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  /*hauteur de la boite de la ligne*/
  outline: none;
  /*supprime style par default*/
  border: none;
  /*ville=pas de fond couleur,pas de bordure*/
  background: none; }

/*texte*/
.explorer {
  display: flex;
  flex-direction: column;
  /*sens direction texte 1en dessous l'autre*/
  align-items: center;
  background-color: var(--main-bg-color);
  /*fond couleur gris clair*/ }

.explorer-titre {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  /*taille emplacement reservez votre menu*/
  margin-top: 39px;
  width: 75%;
  padding: 2px 15px 15px 15px; }

.explorer-soustitre {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  /*taille emplacement couleur decouvrez des restaurants*/
  color: var(--bg-color-dark-grey);
  margin-bottom: 27px;
  width: 85%;
  padding: 2px 5px 0px 5px; }

.fonctionnement {
  display: flex;
  flex-direction: column;
  /*sens de direction colonne*/ }

.fonctionnement-titre {
  font-size: 24px;
  font-weight: 700;
  margin-top: 48px;
  /* taille;emplacement du titre*/
  margin-left: 20px;
  margin-bottom: 26px; }

.tuto {
  display: flex;
  flex-direction: column;
  /* emplacement des boutons colonne pour mobile*/
  align-items: center;
  gap: 25px;
  /* espacement entre chaque bouton*/
  margin-bottom: 68px; }

.conteneur {
  width: 80%;
  /*taille et position des boutons*/
  position: relative; }

.badge {
  position: absolute;
  top: 25px;
  /*positionnement du cercle sur le bouton*/
  left: -12px;
  z-index: 1;
  /*postionnement en fond*/ }

.chiffre {
  position: absolute;
  left: -5px;
  /*posiutionnement du chiffre dans le badge*/
  bottom: 26px;
  color: white;
  z-index: 2;
  /*postionnement au dessus du badge*/ }

.fonctionnement-bouton {
  display: flex;
  justify-content: center;
  /*texte icon center dans bouton*/
  align-items: center;
  gap: 27px;
  /*espacement entre texte ety icon*/
  position: relative;
  border-radius: 20px;
  /*arrondi*/
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  /*ombre*/
  background-color: var(--main-bg-color);
  /*fond couleur*/
  height: 73px;
  width: 100%;
  min-width: 123px;
  border: none;
  font-size: 16px;
  font-weight: 500; }

.icon {
  color: #7e7e7e;
  /*couleur icon*/ }

.conteneur:hover {
  cursor: pointer; }

.conteneur:hover .icon {
  color: #6b33b1;
  /*changement couleur passage souris*/ }

/*page d'accueil cartes restaurants*/
.restaurant {
  display: flex;
  flex-direction: column;
  /*sens de direction section restaurant ,fond couleur,remplis l'ecran*/
  align-items: center;
  width: 100%;
  background-color: var(--main-bg-color);
  padding-bottom: 66px; }

.restaurant-titre {
  display: flex;
  align-self: flex-start;
  font-size: 24px;
  font-weight: 700;
  /*emplacelent du titre*/
  margin-left: 20px;
  margin-top: 54px;
  margin-bottom: 26px; }

.restaurant-conteneur {
  display: flex;
  flex-direction: column;
  /*emplacement des cartes +espacement entre chaque*/
  align-items: center;
  gap: 18px;
  width: 100%; }

.restaurant-card {
  /*chaque carte*/
  position: relative;
  /*pour le nouveau et le coeur*/
  display: flex;
  flex-direction: column;
  width: 95%;
  /* direction,taille,hauteur de la carte*/
  max-width: 600px;
  border-radius: 15px;
  background-color: white;
  height: auto; }

/* positionnement badge bouveau*/
.nouveau {
  position: absolute;
  /*positionnement dans la carte*/
  right: 15px;
  top: 15px;
  display: flex;
  align-items: center;
  /*texte center*/
  justify-content: center;
  width: 80px;
  /*hauteur taille badge*/
  height: 29px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--bg-color-green);
  /*fond vert*/
  color: var(--green-font); }

.image {
  width: 100%;
  height: 231px;
  object-fit: cover;
  /*remplis tt la boite*/
  align-self: stretch;
  /*aggrandissement sur l'axe*/
  margin-bottom: 16px;
  flex-shrink: 0;
  /*compression de l'image selon taille ecran*/
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }

.card-titre {
  display: flex;
  justify-content: flex-start;
  /*positionnement taille nom resto*/
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  padding-left: 13px; }

.card-desc {
  font-size: 17px;
  font-weight: 300;
  /*taille positionnement description*/
  margin-bottom: 12px;
  padding-left: 13px; }

.coeur {
  padding: 2px;
  position: absolute;
  /*positionnement*/
  right: 30px;
  bottom: 20px;
  overflow: clip;
  transition: all 0.5s;
  opacity: 1;
  font-size: 22px;
  -webkit-text-stroke: 2px var(--bg-color-dark-grey);
  /*epaisseur et couleur bord du coeur*/
  background: white;
  /*couleur du bloc*/
  -webkit-text-fill-color: transparent;
  /*couleur interieur du coeur*/ }

.coeur:hover {
  font-size: 22px;
  animation: filling-heart 1s forwards;
  /*animation coeur violet forward=mettre l'animation sur pause sur la derniere image*/ }

@keyframes filling-heart {
  0% {
    transform: scale(0.9);
    /*equivalent scalex(0.9)scaleY(0.9) reduction du coeur*/
    -webkit-text-stroke: transparent;
    /*transparence bordure*/
    -webkit-background-clip: text;
    /*la zone d'arriere plan s'etend dans le texte*/
    background-clip: text; }
  50% {
    transform: scale(1.4);
    /*aggrandissement*/
    background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
    /*fond couleur*/
    opacity: 0.5;
    -webkit-text-stroke: transparent;
    -webkit-background-clip: text;
    background-clip: text; }
  100% {
    transform: scale(1);
    /*taille dorigine=1*/
    background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
    opacity: 1;
    -webkit-text-stroke: transparent;
    -webkit-background-clip: text;
    background-clip: text; } }

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*emplacement section footer mobile*/
  width: 100%;
  box-sizing: border-box;
  padding: 22px 25px;
  background-color: var(--bg-color-dark-grey);
  /*fond couleur*/
  gap: 16px; }

.footer-logo {
  width: 138px;
  filter: invert(1);
  /* logo taille filtre inversion de couleur*/ }

.footer-liste {
  gap: 7px;
  display: flex;
  /*sens direction liste pour mobile en colonne*/
  flex-direction: column; }

.footer-item {
  gap: 11px;
  display: flex;
  /* sens direction en ligne du l'icon et du texte*/
  flex-direction: row; }

.footer-icon {
  filter: invert(1);
  /*icon en blanc*/ }

.footer-lien {
  color: white;
  /*lien texte en blanc*/ }

/**MEDIA PAGE DACCUEIL**/
/* media queries tablette ecran min 768 max 1024px */
@media screen and (min-width: 768px) {
  .tuto {
    width: 100%;
    /*aggrandissemnt des boutons fonctionnement avec lecran*/ } }

/* media queries desktop ecran min 1024px */
@media screen and (min-width: 1024px) {
  .logo {
    padding: 35px 89px 13px 89px;
    /*aggrandissement div blanc du logo*/ }
  .fonctionnement {
    padding: 50px clamp(2px, 5%, 180px);
    /*espacement div fonctionnement*/ }
  .tuto {
    flex-direction: row;
    /*positionnement bouton fonctionnment en ligne*/ }
  .restaurant {
    padding: 0px 180px;
    /*marge sur coté gauche et droite*/
    box-sizing: border-box; }
  .restaurant-conteneur {
    flex-direction: row;
    flex-wrap: wrap;
    /*Les éléments flexibles sont disposé sur plusieurs lignes*/
    gap: 50px 100px;
    /*positionnement carte resto en ligne*/
    margin-bottom: 30px; }
  .restaurant-card {
    width: calc(50% - 50px);
    /*taille carte resto en fonction taille ecran*/
    max-width: none; }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    /*positionnemnt du footer en sens opposé*/
    align-items: flex-end;
    height: 114px; }
  .footer-liste {
    gap: 20px;
    display: flex;
    /*espacement texte et en ligne*/
    flex-direction: row; }
  /*****PAGE RESTAURANT**/
  .header-icon {
    top: 30px;
    /*positionnement retour page d'accueil*/ }
  .resto-img {
    height: 383px;
    /*taille image*/ }
  .resto-titre {
    width: auto;
    align-self: center;
    /*nom resto cnter*/ }
  .resto-article {
    max-width: 1025px;
    /*taille max carte*/
    width: 100%; }
  .resto-icon {
    position: absolute;
    right: 326px;
    /*positionnement du coeur */
    top: 39px; }
  .resto .card {
    width: 97%; }
  .menu {
    width: 80%; } }

/*MEDIA PAGE RESTAURANT */
/*media tablette*/
@media screen and (min-width: 768px) {
  .menu {
    width: 90%; } }

.header-icon {
  position: absolute;
  left: 25px;
  /*positionnement icon*/
  top: 13px;
  font-size: 30px; }

.resto {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  /*posionnement div menu resto image */
  display: flex;
  flex-direction: column;
  align-items: center; }

.resto-img {
  position: relative;
  width: 100%;
  /*positionnement image taille/adaptation de la taille */
  height: 275px;
  object-fit: cover;
  align-self: stretch;
  /*etirement de limage*/ }

.resto-article {
  width: 100%;
  background-color: var(--main-bg-color);
  /*menu resto fond couleur,bord arrondi, sens direction colonne menu mobile*/
  position: relative;
  margin-top: -25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.resto-titre {
  width: 70%;
  align-self: flex-start;
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  /*positionnement ecriture nom resto*/
  font-weight: 400;
  padding-top: 32px;
  padding-left: 17px; }

.resto-icon {
  padding: 2px;
  position: absolute;
  /*positionnement*/
  right: 42px;
  top: 39px;
  overflow: clip;
  opacity: 1;
  font-size: 22px;
  -webkit-text-stroke: 2px var(--bg-color-dark-grey);
  /*epaisseur et couleur bord du coeur*/
  background: white;
  /*couleur du bloc*/
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*couleur interieur du coeur*/ }

.resto-icon:hover {
  font-size: 22px;
  animation: filling-heart 1.3s forwards;
  /*animation coeur violet forward=mettre l'animation sur pause sur la derniere image*/ }

@keyframes filling-heart {
  0% {
    transform: scale(0.9);
    /*equivalent scalex(0.9)scaleY(0.9) reduction du coeur*/
    -webkit-text-stroke: transparent;
    /*transparence bordure*/
    -webkit-background-clip: text;
    /*la zone d'arriere plan s'etend dans le texte*/
    background-clip: text; }
  50% {
    transform: scale(1.4);
    /*aggrandissement*/
    background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
    opacity: 0.5;
    -webkit-text-stroke: transparent;
    -webkit-background-clip: text;
    background-clip: text; }
  100% {
    transform: scale(1);
    /*taille dorigine*/
    background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
    opacity: 1;
    -webkit-text-stroke: transparent;
    -webkit-background-clip: text;
    background-clip: text; } }

.menu {
  width: 100%; }

.menu-titre {
  margin-top: 40px;
  width: 38px;
  height: 27px;
  /*positionnement entree plat dessert+ couleur et taille ligne en dessous*/
  font-size: 16px;
  font-weight: 300;
  margin-left: 17px;
  border-bottom: var(--bg-color-green) 2px solid;
  border-bottom-width: 3px; }

.menu-content {
  padding: 0 10px; }

.card {
  display: flex;
  flex-direction: row;
  height: 70px;
  /*positionnement en ligne dans la boite du plat*/
  position: relative;
  margin-top: 12px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  animation: appearance-card 3s;
  /*animation appartion carte avec décalage*/
  animation-fill-mode: both; }

@keyframes appearance-card {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.child1 {
  animation-delay: 200ms; }

.child2 {
  animation-delay: 400ms; }

.child3 {
  animation-delay: 600ms; }

/*delai apparition plat ouvreture de page*/
.child4 {
  animation-delay: 800ms; }

.child5 {
  animation-delay: 1000ms; }

.child6 {
  animation-delay: 1200ms; }

.child7 {
  animation-delay: 1400ms; }

.child8 {
  animation-delay: 1600ms; }

.child9 {
  animation-delay: 1800ms; }

.child10 {
  animation-delay: 700ms; }

.card:hover .checkicon {
  animation: check 0.8s 0.1s forwards;
  /*animation rotation icon*/ }

@keyframes check {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.checkicon {
  color: white;
  opacity: 1;
  /*icon blanc*/
  font-size: 25px; }

.card-click {
  width: 0;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  /*icon center dans carré*/
  justify-content: center;
  overflow: hidden;
  /*empeche licon de sortir*/
  background-color: var(--bg-color-green);
  /*carré vert avec icon*/ }

.card:hover .card-click {
  transition: all 0.7s ease-in-out;
  /*animation carré verte plus fluide*/
  cursor: pointer;
  width: 30px;
  padding: 15px; }

.card-menu {
  width: 20%;
  display: flex;
  flex-direction: column;
  /*texte lun en dessous lautre*/
  padding: 15px;
  flex-grow: 1;
  /*expension de l'element*/ }

.card-plat {
  font-size: 18px;
  font-weight: 500;
  /*plat*/
  margin-bottom: 5px;
  text-overflow: ellipsis;
  /*texte coupé ...*/
  overflow: hidden;
  /*evite aux texte detre rogné*/
  white-space: nowrap; }

.card-description {
  width: 80%;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.card-prix {
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: flex-end;
  /*positionnement prix au debut */
  font-size: 15px;
  font-weight: 700; }

/*footer*/
.footer {
  position: relative; }

/**MEDIA PAGE*/
/* media queries tablette ecran min 768 max 1024px */
@media screen and (min-width: 768px) {
  .menu {
    width: 90%; } }

/* media queries desktop ecran min 1024px */
@media screen and (min-width: 1024px) {
  /*****PAGE RESTAURANT**/
  .header-icon {
    top: 30px;
    /*positionnement retour page d'accueil*/ }
  .resto-img {
    height: 383px;
    /*taille image*/ }
  .resto-titre {
    width: auto;
    align-self: center;
    /*nom resto cnter*/ }
  .resto-article {
    max-width: 1025px;
    /*taille max carte*/
    width: 100%; }
  .resto-icon {
    position: absolute;
    right: 326px;
    /*positionnement du coeur */
    top: 39px; }
  .resto .card {
    width: 97%; }
  .menu {
    width: 80%; } }

/*bouton explorez nos restaurants page d'accueil*/
.explorer-bouton {
  display: flex;
  align-items: center;
  /*center texte*/
  justify-content: center;
  border-radius: 25px;
  /*arrondi*/
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  /*ombre*/
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  /*fond couleur degradée*/
  margin-bottom: 57px;
  max-width: 288px;
  height: 50px;
  padding: 0px 15px;
  border: none;
  /*pas de bordure*/
  color: white;
  /*ecriture*/
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s all ease;
  /*controle vitesse animation, demarrage lent puis rapide puis lent*/ }

.explorer-bouton:hover {
  filter: brightness(1.1);
  /*bouton plus claire*/
  box-shadow: 2px 6px 12px 2px rgba(0, 0, 0, 0.25);
  /*changement ombre*/
  cursor: pointer; }

/*bouton page*/
.card-bouton {
  display: flex;
  /*emplacement du bouton*/
  justify-content: center;
  margin-bottom: 40px; }

.bouton {
  border-radius: 25px;
  /*arrondi*/
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  /*ombre*/
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  /*fond couleur degradé*/
  width: 186px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  margin-top: 40px;
  transition: 0.3s all ease;
  /*vitesse animation*/ }

.bouton:hover {
  filter: brightness(1.1);
  /*bouton plus claire*/
  box-shadow: 2px 6px 12px 2px rgba(0, 0, 0, 0.25);
  /*changement dombre*/
  cursor: pointer; }

/*loader*/
.container {
  position: fixed;
  background-color: #99E2D0;
  height: 100vh;
  inset: 0;
  z-index: 3;
  /*emplacement du loader au dessus de la page d'accueil*/
  opacity: 0.9;
  animation: disappear 200ms 3s;
  transform-origin: top;
  animation-fill-mode: forwards;
  display: grid;
  place-items: center; }

@keyframes disappear {
  0% {
    transform: scale(1);
    /*apparition*/ }
  100% {
    transform: scale(0);
    /*disparition*/ } }

/*couleur*/
/*durée animation*/
/*delai*/
.load {
  width: 30vh;
  /*taille*/
  height: 22.5vh;
  display: flex;
  /*posiotionnemnt*/
  justify-content: space-evenly; }
  .load__bar {
    background-color: #FF79DA;
    /*couleur barre*/
    height: 100%;
    width: 3vh;
    animation: bars 1000ms backwards infinite ease-in-out alternate;
    /*backwards=etendre les valeurs de depart*/
    /*boulce infini*/ }
    .load__bar--1 {
      animation-delay: 200ms;
      /*boucle animation avec delai de lancement*/ }
    .load__bar--1-inv {
      animation-delay: 200ms;
      animation-direction: alternate-reverse;
      /*boucle animatyion inverse*/
      background-color: #9356dc; }
    .load__bar--2 {
      animation-delay: 400ms;
      /*boucle animation avec delai de lancement*/ }
    .load__bar--2-inv {
      animation-delay: 400ms;
      animation-direction: alternate-reverse;
      /*boucle animatyion inverse*/
      background-color: #9356dc; }
    .load__bar--3 {
      animation-delay: 600ms;
      /*boucle animation avec delai de lancement*/ }
    .load__bar--3-inv {
      animation-delay: 600ms;
      animation-direction: alternate-reverse;
      /*boucle animatyion inverse*/
      background-color: #9356dc; }
    .load__bar--4 {
      animation-delay: 800ms;
      /*boucle animation avec delai de lancement*/ }
    .load__bar--4-inv {
      animation-delay: 800ms;
      animation-direction: alternate-reverse;
      /*boucle animatyion inverse*/
      background-color: #9356dc; }
    .load__bar--5 {
      animation-delay: 1000ms;
      /*boucle animation avec delai de lancement*/ }
    .load__bar--5-inv {
      animation-delay: 1000ms;
      animation-direction: alternate-reverse;
      /*boucle animatyion inverse*/
      background-color: #9356dc; }

@keyframes bars {
  0% {
    transform: scaleY(0.5);
    /*animation transformation verticale de la barre*/ }
  100% {
    transform: scaleY(1); } }
