  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;/*emplacement section footer mobile*/
    width: 100%;
    box-sizing: border-box;
    padding: 22px 25px;
    background-color: var(--bg-color-dark-grey);/*fond couleur*/
    gap: 16px;
  }
  .footer-logo {
    width: 138px;
    filter: invert(1);/* logo taille filtre inversion de couleur*/
  }
  .footer-liste {
    gap: 7px;
    display: flex; /*sens direction liste pour mobile en colonne*/
    flex-direction: column;
  }
  .footer-item {
    gap: 11px;
    display: flex;/* sens direction en ligne du l'icon et du texte*/
    flex-direction: row;
  }
  .footer-icon {
    filter: invert(1); /*icon en blanc*/
  }
  .footer-lien {
    color: white; /*lien texte en blanc*/
  }